* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(255, 174, 0, 0.52);
    font-family: Helvetica;
}

header {
    background-color: whitesmoke;
    padding: 20px 0;
    text-align: center;
}

h1 {
    color: rgba(0, 0, 0, 0.864);
    font-weight: bolder;
    font-size: 4rem;
}

nav {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: rgba(112, 112, 112, 0.704);
    margin: 10px;
    font-size: 1rem;
}

nav a:hover {
    color: rgba(73, 73, 73, 0.914);
}

.header-button{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.864);
    color: white;
    border: none;
}

.login{
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}