* {
    box-sizing: border-box;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-weight: bolder;
    margin-top: 50px;
}
.average{
    text-align: center;
    color: whitesmoke;
    padding: 35px;
    max-width: 400px;
    align-items: center;
    background: rgb(33, 33, 33);
    border-radius: 20px;
}