body {
    font-family: Helvetica;
    background-color: rgba(45, 45, 45, 0.423);
    margin: 0;
}

table {
    border-radius: 5px;
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
}

table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: left;
    padding: 15px;
}

td {
    color: grey;
}

th {
    border: 1px solid rgb(65, 65, 65);
    color: gainsboro;
    font-size: 1.6rem;
    font-weight: bolder;
    background-color: rgb(33, 33, 33);
}

tr {
    background-color: white;
}

tr:nth-child(even) {
    background-color: rgb(237, 237, 237);
}