<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/searchbarStyle.css}"/>
    <link rel="stylesheet" th:href="@{/headerStyle.css}" />
    <link rel="stylesheet" th:href="@{/tableStyle.css}" />

</head>
<body>
    <a href="/sign-in" class="header-button">Sign in</a>
    <a href="/sign-up" class="header-button">Sign up</a>
    <header th:replace="header.html :: headerFragment"></header>
    <form th:replace="searchbar.html :: searchBarFragment"></form>
    <table th:replace="table.html :: tableFragment"></table>
</body>
</html>