<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Header</title>
    <link rel="stylesheet" th:href="@{/headerStyle.css}" />
</head>
<body>
<header id="header" th:fragment="headerFragment">
    <h1>shop</h1>
    <nav>
        <a href="/only-available">only available</a>
        <a href="/cheapest-first">cheapest first</a>
        <a href="/services">contains nike</a>
        <a href="/contact">average stock</a>
        <a href="/contact">most expensive</a>
        <a href="/webshop">home</a>

    </nav>
</header>
</body>
</html>
