<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="loginStyle.css">
</head>
<form action="" method="GET">
    <div>
        <h1>account login</h1>
    </div>
    <div>
        <label for="username"> username
            <br>
            <input type="text" name="username" id="username">
            <br/>
        </label>
    </div>
    <div>
        <label for="password">password
            <br>
            <input type="password" name="password" id="password">
            <br/>
        </label>
    </div>
    <div>
        <a href="https://www.youtube.com/watch?v=b2pD0B9Rfps">forgot password?</a>
    </div>
    <div class="buttom">
        <button type="submit">submit</button>
    </div>
</form>
</html>