<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/tableStyle.css}" />
</head>
<body>
<table id="table" th:fragment="tableFragment">
    <tr>
        <th>name</th>
        <th>description</th>
        <th>price</th>
        <th>quantity of stock</th>
    </tr>
    <tr th:each="shopitem : ${storage}">
        <td th:text="${shopitem.name}"></td>
        <td th:text="${shopitem.description}"></td>
        <td th:text="${shopitem.price}"></td>
        <td th:text="${shopitem.quantityOfStock}"></td>
    </tr>

</table>
</body>
</html>
